<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <div class="contact-us">
        <div class="contact-title">
            <h2>CONTACT</h2>
            <span>Fan?Drop a note</span>
        </div>

    <div class="contact-detail">
        <div class="address">
            <i class="fa fa-map-marker" style="width:30px"></i> Chicago, US<br>
            <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
            <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
        </div>

        <div class="inputs">
            <div class="name">
                <input type="text" placeholder="Name" required>
            </div>
            <div class="email">
                <input type="email"placeholder="Email" required>
            </div>
<div class="message">
    <input  type="text"placeholder="Message " required>

</div>
<div class="btn-form">
    <button>Send</button>

</div>
        </div>

    </div>

    </div>

    <div class="map">
        <img src="./map.jpg" alt="">
    </div>
    
</body>
</html>