<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <div class="dates">
        <div class="date-title">
            <h2>TOUR DATES</h2>
            <span>Remember to book your tickets</span>    
        </div>
        <div class="cal">
            <div>
                <li>September <span class="badg" style="color:#fff;">Sold Out</span></li>
                <li>October  <span class="badg" style="color: #fff;">Sold Out</span> </li>
                <li>November  <span class="ticket-badg" style="color: #fff;   width: 90px;
                    height: 40px;  ">3</span> </li>
            </div>

        </div>
        <div class="cards-holder">
            <div class="card">
                <img src="./newyork.jpg" alt="">
               <div class="card-detail">
                <h3>New York</h3>
                <span>Sun 29 Nov 2016
                </span>
                <p>
                    Praesent tincidunt sed tellus ut rutrum sed vitae justo.

                </p>
                <button type="submit">Buy Tickets</button>
               </div>
            </div>
            <div class="card">
                <img src="./paris.jpg" alt="">
                <div class="card-detail">
                    <h3>San Farncisco</h3>
                    <span>Sat 28 Nov 2016</span>
                    <p>
                        Praesent tincidunt sed tellus ut rutrum sed vitae justo.
                    </p>
                    <button type="submit">Buy Tickets</button>
                </div>
            </div>
            <div class="card">
                <img src="./sanfran.jpg" alt="">
                <div class="card-detail">
                    <h3>San Farncisco</h3>
                <span>Sat 28 Nov 2016</span>
                <p>
                    Praesent tincidunt sed tellus ut rutrum sed vitae justo.
                </p>
                <button type="submit">BUY Tickets</button>
                </div>
            </div>

        </div>
    </div>
</body>
</html>